<!--**********************************
    Sidebar start
***********************************-->
<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-network"></i>
                    <span class="nav-text">Kho</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/inventory">Hàng tồn</a></li>
                    <li><a href="/product-list">Mặt hàng</a></li>
                </ul>
            </li>
            <li><a class="ai-icon" href="/statistic" aria-expanded="false">
                    <i class="flaticon-381-controls-3"></i>
                    <span class="nav-text">Thống kê doanh thu</span>
                </a>
            </li>
        </ul>
    
        <div class="add-menu-sidebar">
            <img src="images/icon1.png" alt=""/>
            <p>Nhập kho</p>
            <a href="/import" class="btn btn-primary btn-block light">+ Nhập</a>
        </div>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->